#main-section {
    background-image: url("../img/slider/custom-experience.jpg");
    /*height: 500px;*/
    /*z-index: 5;*/
}

#main-section li {
    position: relative;
    width: 300px;
    height: 160px;
    margin: 10px 30px 10px 0;
    /*float: left;*/
    display: inline-block;
    float: left;
    padding: 10px 15px 0 20px;

    border-radius: 8px;
    /*vertical-align: text-top;*/
}

#main-section li:last-child {
    margin-right: 0;
}

#main-section h1 {
    font-size: 2.8rem;
    padding-top: 25px;
    margin-bottom: 0px;
}

#main-section h1 + p {
    font-size: 1.3rem;
}

#main-section p {
    padding-top: 10px;
}


#main-section .main-link {
    margin-top: 30px;
}

#main-section ul {
    /*width: 1100px;*/
    list-style: none;
    overflow: hidden;
    margin-top: 60px;
    /*font-size: 0;*/
}

#main-section li > a {
    position: absolute;
    top: 120px;
    left: 0;
    /*padding-top: 130px;*/
    padding-left: 20px;
}

#article-1 {
    background: rgba(250, 66, 158, 0.9);
}

#article-1:hover {
    background: rgb(250, 66, 158)
}

#article-2 {
    background: rgba(104, 66, 158, 0.9);
}

#article-2:hover {
    background: rgb(104, 192, 56);
}

#article-3 {
    background: rgba(225, 116, 20, 0.9);
}

#article-3:hover {
    background: rgb(225, 116, 20);
}

@media screen and (max-width: 960px) {

    #main-section ul {
        margin-top: 10px;
    }

    #main-section h1 {
        padding-top: 15px;
    }

    #main-section .main-link {
        margin-top: 15px;
    }

    #main-section li {
        display: block;
        float: none;
        width: 94vw;
        /*height: 100px;*/
    }

    #main-section li > a {
        height: 30px;
    }
}