body {
    font-family: "Open Sans", Georgia, Serif;
    font-size: 100%;
    font-weight: 500;
}

* {
    margin: 0 0;
}

/** {*/
/*margin-top: 0;*/
/*}*/

/*.submenu img::before {*/
/*content: url("../img/icons/divider.png");*/
/*width: 10px;*/
/*height: 50px;*/
/*}*/

/*.horizontel > li::after {*/
/*content: url("../img/icons/divider.png");*/
/*position: relative;*/
/*left: 10px;*/
/*}*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*.vertical > li:last-child {*/
/*border-bottom: solid silver 2px;*/
/*}*/

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.article {
    display: block;
}

/*a:hover > i,*/
a:hover {
    color: black;
}

a:hover > i {
    color: inherit;
}


.padding {
    width: 960px;
    margin: auto;
    position: relative;
}

.main-link > i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.main-link {
    background-color: rgb(49, 140, 173);
    color: white;
    height: auto;
    /*width: 220px;*/
    position: relative;
    width: 220px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 10px 8px 10px;
    display: inline-block;
    text-align: left;
}

.main-link:hover {
    background-color: lightskyblue;
    color: white;
}

.marked-date {
    display: inline-block;
    float: left;
    background-color: #3398CB;
    text-align: center;
    line-height: 180%;
    height: 80px;
    width: 64px;
    /*padding-bottom: 10px;*/
    margin-right: 10px;
    /*padding: 0 10px;*/
    /*todo: margin collapse*/
}

.day {
    font-size: 3rem;
    border-bottom-color: white;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    line-height: 50px;
    padding: 0 3px;
    display: inline-block;
    text-align: center;
}

h1,
h2 {
    font-weight: inherit;
}

.white-sec * {
    color: white;
}

#solutions-section .main-link,
#stories-section .main-link {
    margin-bottom: 40px;
    /*text-align: center;*/
    margin-top: 50px;
}

li {
    list-style: none;
}

.sec-title {
    font-size: 2.5rem;
    padding: 40px 0;
    text-align: center;
}

ul {
    padding: 0;
}

@media screen and (max-width: 960px) {
    .padding {
        width: 94vw;
    }
}


