body {
    font-family: "Open Sans", Georgia, Serif;
    font-size: 100%;
    font-weight: 500;
}

* {
    margin: 0 0;
}

/** {*/
/*margin-top: 0;*/
/*}*/


.vertical {
    display: inline-block;
    float: left;
    width: 30%;
    padding: 20px;

}

.submenu {
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
    display: none;
    background-color: #fff;
    z-index: 10;
    border: solid lightgrey 2px;
}

/*.submenu img::before {*/
    /*content: url("../img/icons/divider.png");*/
    /*width: 10px;*/
    /*height: 50px;*/
/*}*/

/*.horizontel > li::after {*/
    /*content: url("../img/icons/divider.png");*/
    /*position: relative;*/
    /*left: 10px;*/
/*}*/

.submenu img {
    float: right;
    padding: 0 40px;
    margin: 30px 0;
    border-left: solid #ccc 2px;
}

.vertical a {
    display: block;
}

.vertical dd {
    color: #65B1D7;
    text-decoration: underline;
}

.vertical a:hover {
    background-color: lightblue;
}

.horizontel > li:hover > .submenu {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.vertical > li {
    /*border: solid silver 2px;*/
    /*border-bottom: none;*/
    /*display: block;*/
    width: 100%;
    /*position: absolute;*/
}

/*.vertical > li:last-child {*/
    /*border-bottom: solid silver 2px;*/
/*}*/

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
}

.article {
    display: block;
}



i:hover,
a:hover {
    color: black;
}

.main-nav > a {
    display: inline-block;
}

#bottom-right {
    position: relative;
    width: 230px;
    height: 280px;
    /*float: left;*/
    display: inline-block;
    padding: 0 20px 0 20px;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
}

#bottom-right p {
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-bottom-width: 1px;
    padding-bottom: 20px;
}

.padding {
    width: 960px;
    margin: auto;
}

#bottom-right button {
    font-size: 0.7rem;
    height: 24px;
    width: 60px;
    background-color: #3398CB;
    border: none;
    position: relative;
    /*top: -1px;*/
}

#first-sec li {
    position: relative;
    width: 300px;
    height: 160px;
    margin: 10px 30px 10px 0;
    /*float: left;*/
    display: inline-block;
    float: left;
    padding: 10px 15px 0 20px;

    border-radius: 10px;
    /*vertical-align: text-top;*/
}

#first-sec li:last-child {
    margin-right: 0;
}

.main-link > i {
    position: absolute;
    right: 10px;
    top: 12px;
}

.main-link {
    background-color: rgb(49,140,173);
    color: white;
    height: auto;
    /*width: 220px;*/
    position: relative;
    width: 220px;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 10px 8px 10px;
    display: inline-block;
    text-align: left;
}

.main-link:hover {
    background-color: lightskyblue;
    color:white;
}

.marked-date {
    display: inline-block;
    float: left;
    background-color: #3398CB;
    text-align: center;
    line-height: 180%;
    height: 80px;
    width: 64px;
    /*padding-bottom: 10px;*/
    margin-right: 10px;
    /*padding: 0 10px;*/
    /*todo: margin collapse*/
}

.day {
    font-size: 3rem;
    border-bottom-color: white;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    line-height: 50px;
    padding: 0 3px;
    display: inline-block;
    text-align: center;
}

/*.month {*/
/*display:inline-block;*/
/*}*/

h1,
h2 {
    font-weight: inherit;
}

.white-sec * {
    color: white;
}

#first-sec {
    background-image: url("../img/slider/custom-experience.jpg");
    height: 500px;
    /*z-index: 5;*/
}

#second-sec {
    background: url("../img/backgrounds/solutions-bg.png") dodgerblue;
    /*height: 460px;*/
    /*margin: auto;*/
}

#second-sec nav>a {
    padding-top: 60px;
    text-align: center;
}

#second-sec .main-link,
#aside-sec .main-link {
    margin-bottom: 40px;
    /*text-align: center;*/
    margin-top: 50px;
}

.main-nav > a {
    float: left;
    width: 160px;
}

#third-sec {
    background-image: url(../img/backgrounds/news-and-events-bg.jpg);
    height: 350px;
    font-size: 0;
}

#third-sec a {
    font-size: 1rem;
    position: absolute;
    margin-top: 110px;
}

#third-sec p {
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    padding: 10px;
    color: black;
    font-size: 0.9rem;
    /*ask alex how to avoid spacing between inline elements*/
}

#third-sec p:hover {
    background-color: whitesmoke;
}

#third-sec .wrapper {
    display: inline-block;
}

.hovered p,
.story p {
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
}

.hovered p {
    display: block;
    padding-top: 10px;
    width: 80%;
    margin: auto;
    /*float: left;*/
}

.hovered img {
    float: left;
    overflow: auto;
    padding: 10px;
}

#third-sec li {
    display: inline-block;
    /*float: left;*/
    width: 300px;
}

#third-sec dd + li {
    margin-right: 30px;
}

#second-sec .padding {
    text-align: center;
}

.main-nav {
    display: inline-block;
}

#social-imgs {
    position: absolute;
    bottom: 5px;

}

#bottom .title1 {
    color: #4882A0;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    padding: 20px 0;
}

#aside-sec footer {
    font-size: 0.75rem;
    line-height: 25px;
    padding: 10px 0 0 10px;
    clear: both;
    float: left;
    display: inline-block;
    position: relative;
    width: 100%;
}

#aside-sec h3 {
    color: blue;
}

#aside-sec > .padding {
    text-align: center;
}

#aside-sec footer > img {
    position: absolute;
    bottom: 15px;
    right: 10px;;
}

/*#aside-sec ul {*/
/*width: 200px;*/
/*margin: auto;*/
/*}*/

.logos {
    font-size: 0px;
}

.logos > img {
    margin: 13.7px 13.7px 13.7px 0;
}

.logos + .logos > img {
    padding: 0;
}

.logos > img:last-child {
    margin-right: 0;
}

#aside-sec article,
#aside-sec .article{
    display: inline-block;
    /*padding: 10px;*/
    width: 351.4px;
    background-color: white;
    /*position: relative;*/
    height: inherit;
}

#aside-sec .hovered {
     /*position: absolute;*/
     /*top: 0;*/
     /*right: 0;*/
     background-color: blue;
     color: white;
     display: inline-block;
    transform: translate(0,0);
     transition: all 500ms ease;

    /*height: 100%;*/
    height: inherit;
 }

.story-wrapper:hover > .hovered {
    /*position: absolute;*/
    /*top:0;*/
    /*right:0;*/
    transform: translate(0, -100%);
}

.story-wrapper {
    position: relative;
    height: 190px;
    display: inline-block;
    overflow:hidden;
}

#aside-sec .story-wrapper:hover > .hovered {
    transform: translate(0,-100%);
}

#mid > img {
    margin-top: 0;
}

#aside-sec > .padding > div {
    display: inline-block;
    float: left;
    margin-right: 13.7px;
    position: relative;
    /*vertical-align: top;*/
}

#aside-sec #lad {
    margin-right: 0;
    /*overflow: hidden;*/
}

#lad .story-wrapper,
#lad .hovered,
#lad .non-hovered{
    width: 229.7px;
    /*padding-left: 10px;*/
    /*height: 100%;*/
}

/*#lad>div:first-child {*/
    /*position: relative;*/
/*}*/


.story > img {
    display: inline-block;
    float: left;
    padding: 10px;
    /*position: absolute;*/
}

.story > p > img {
    padding: 10px 10px 0 0;
}

.story {
    height: 130px;
    border-bottom: solid #222222 1px;
}

.story,
.story ~ footer {
    text-align: left;
}

li {
    list-style: none;
}

.sec-title {
    font-size: 2rem;
    padding: 40px 0;
    text-align: center;
}

#first-sec h1 {
    padding-top: 25px;
    margin-bottom: 0px;
}

#first-sec p {
    padding-top: 10px;
}

#first-sec .main-link {
    margin-top: 30px;
}

#first-sec ul {
    /*width: 1100px;*/
    list-style: none;
    overflow: hidden;
    margin-top: 60px;
    /*font-size: 0;*/
}



#submit {
    height: 25px;
    margin-top: 35px;
    margin-bottom: 3px;
    display: inline-block;
    /*width: 160px;*/
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

#submit > input,
#submit > button {
    border-style: hidden;
    height: 23px;
    background-color: #fff;
    outline: none;
}

#submit > button {
    position: relative;
    top: -5px;
}

#aside-sec {
    background: #e3e3e3;
    color: grey;
    font-size: 0;
    height: 560px;
}

#third-sec dd {
    font-size: 1.4rem;
}

#first-sec li > a {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-top: 130px;
    padding-left: 20px;
}

#top-sec {
    background: #fff;
    overflow: visible;
    /*height: 90px;*/
    /*z-index: 10;*/
}

#top-sec > div > div {
    /*width:1000px;*/
    /*height: 80px;*/
    /*margin: auto;*/
    padding: 10px;
}

ul {
    padding: 0;
}

#article-1 {
    background: rgba(250, 66, 158, 0.8);
}

#article-1:hover {
    background: rgb(250, 66, 158)
}

#article-2 {
    background: rgba(104, 66, 158, 0.8);
}

#article-2:hover {
    background: rgb(104, 192, 56);
}

#article-3 {
    background: rgba(225, 116, 20, 0.8);
}

#article-3:hover {
    background: rgb(225, 116, 20);
}

#top-right > select {
    border-style: none;
}

.horizontel {
    padding: 62px 20px 0px 15px;
    float: left;
    /*vertical-align: bottom;*/
}

.horizontel > li {
    font-size: 0.9rem;
    /*padding: 0 10px;*/
    float: left;
    line-height: 2rem;
    border: solid transparent 1px;
    /*z-index: 20;*/
}

.horizontel > li > a {
    padding: 0 10px;
}

.horizontel > li:hover > a {
    z-index: 200;
    position: relative;
    display: inline-block;
    /*width: 100%;*/
    /*height: inherit;*/
    background-color: #fff;
}

.horizontel > li:hover {
    border: solid gray 2px;
    border-bottom-color: #fff;
    /*z-index: 200;*/
}

.horizontel > li li {
    line-height: 1.5rem;
}


#top-sec form {
    float: left;
    width: 200px;
}

#top-sec .padding > a >img {
    /*display: inline-block;*/
    float: left;
    padding-top: 20px;
    /*vertical-align: bottom;*/
}

.menu_btn {
    position: absolute;
    top: 30px;
    left: 29px;
    /*transform: scale(2,2);*/
}

input[type=checkbox].menu_cb {
    position: absolute;
    top: 40px;
    left: 38px;
    transform: scale(3.3,3.3);
}

input[type=checkbox].menu_cb:checked ~ #top_menu_bar > li {
    display: block;
}

#top-sec .hidden {
    display: none;
}

.search_btn {
    position: absolute;
    top: 32px;
    right: 39px;
    transform: scale(1.8,1.8);
}

input[type=checkbox]#submit_search {
    position: absolute;
    top: 40px;
    right: 38px;
    transform: scale(3.3,3.3);
}

.sol-img {
    background-size:150px;
    background-repeat: no-repeat;
}

#money-sol {
    background-image: url("../img/solutions/solution_icon_biz-analitics.png");
}
#money-sol:hover {
    background-image: url("../img/solutions/solution_icon_biz-analitics_hover.png");
}

#diti-sol {
    background-image: url("../img/solutions/solution_icon_diti-cx.png");
}
#diti-sol:hover {
    background-image: url("../img/solutions/solution_icon_diti-cx_hover.png");
}

#smart-sol {
    background-image: url("../img/solutions/solution_icon_smart-money.png");
}
#smart-sol:hover {
    background-image: url("../img/solutions/solution_icon_smart-money_hover.png");
}

#optimize-sol {
    background-image: url("../img/solutions/solution_icon_optimize-efficnt.png");
}
#optimize-sol:hover {
    background-image: url("../img/solutions/solution_icon_optimize-efficnt_hover.png");
}

#personal-sol {
    background-image: url("../img/solutions/solution_icon_personal.png");
}
#personal-sol:hover {
    background-image: url("../img/solutions/solution_icon_personal_hover.png");
}

#biz-sol {
    background-image: url("../img/solutions/solution_icon_biz-transform.png");
}
#biz-sol:hover {
    background-image: url("../img/solutions/solution_icon_biz-transform_hover.png");
}

#top-sec .padding {
    position: relative;
    padding: 0;
    /*z-index: 4;*/
}

#top-right label {
    display: inline-block;
    position: relative;
    left: 5px;
}

#submit input {
    width: 148px;
    float: left;
    /*margin-top: 2px;*/
    margin-left: 4px;
    /*margin-top: 27px;*/
    /*border-radius: 5px;*/
}

#submit button > img {
    position: relative;
    top: 2px;
    right: 2px;
}

.news-image:hover {
    content: url("../img/events/eventListIconNews_hover.png");
}

.events-image:hover {
    content: url("../img/events/eventListIconEvents_hover.png")
}

#bottom {
    position: relative;
    background: #222222;
    height: 280px;
}

#bottom dl {
    float: left;
    margin-right: 80px;
    padding: 20px 0;
}

#bottom-right input {
    width: 120px;
    border: none;
    height: 24px;
    /*ask alex about avoiding space without changing tags structure*/
}

#copy {
    position: absolute;
    bottom: 10px;
}

#bottom dd {
    padding-bottom: 10px;
}

#bottom {
    font-weight: 400;
    font-size: 0.8rem;
}

.right {
    float: right;
}

#bottom-date {
    display: inline-block;
    width: 40px;
    text-align: center;
    vertical-align: top;
    float: left;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
    /*line-height: 20px;*/
}

#bottom-day {
    font-size: 2rem;
    line-height: 30px;
    font-weight: 700;
}

@media screen and (max-width: 970px) {
    /*#top_menu_bar {*/
        /*display: none;*/
    /*}*/

    #top-sec .hidden {
        display: block;
    }

    #top-sec .padding > a >img {
        position: absolute;
        left: calc(50% - 92.5px)
    }

    /*#top_menu_bar {*/
        /*display: none;*/
    /*}*/

    #top_menu_bar > li {
        display: none;
        float: none;
    }
}

